<!DOCTYPE html>
<html>
<head>
	<title>El Buen Comer - Menu</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../estilo/imagenes/logo.png">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../estilo/estilo.css">
	<link href = "https://fonts.googleapis.com/css2? family = Noto + Sans + TC: wght @ 300 & display = swap" rel = "stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- COMIENZO NAVBAR -->

<nav id="navbar">
	<div class="logo">
		<a href="../../../index.html"><img src="../../estilo/imagenes/logo.png"></a>
	</div>
	<ul class="nav-principal">
		<li><a href="../../../index.html">INICIO</a></li>
		<li><a href="../menu/index.html">MENU</a></li>
		<li><a href="../nosotros/index.html">NOSOTROS</a></li>
		<li><a href="https://www.facebook.com/profile.php?id=100010245192961"><img src="../../estilo/imagenes/face.png"></a></li>
		<li><a href="https://www.instagram.com/el_buen.comer_/"><img src="../../estilo/imagenes/insta.png"></a></li>
		<li><a href="https://twitter.com/elbuencomersf/"><img src="../../estilo/imagenes/twit.png"></a></li>
	</ul>
	<div class="acomodo">
		<div class="linea1"></div>
		<div class="linea2"></div>
		<div class="linea3"></div>
	</div>
</nav>
<script src="../../js/nav.js"></script>
<!-- FIN NAVBAR -->
<!-- TITULO PRINCIPAL -->
<h1>Algunos de nuestros platos</h1>
<!-- ======BODY=======  -->


<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/comida1.jpg">
  <aside><h3>RATATOUILLE</a></h3><div id="comida"><b>La receta de Ratatouille es una receta originaria de la gastronomía francesa. Es un plato a base de verduras: calabacines, berenjenas, cebolla, etc, muy cocinado en esa zona. Originario en la zona sur este de Francia, zona provenzal.</b><br></br></div></aside>
  <div class="reset"></div>
</div>
<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/comida2.jpg">
  <aside><h3>LANGOSTINOS</a></h3><div id="comida"> <b>La calidad de la carne del langostino y su intenso sabor (especialmente los Langostinos del Mar Menor, con una marcada salinidad) hacen que, cuando se consumen frescos, las preparaciones más utilizadas sean las que conservan todo el sabor del producto a la plancha o cocido.</b><br></br></div></aside>
  <div class="reset"></div>
</div>
<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/comida3.jpg">
  <aside><h3>PAELLA</a></h3><div id="comida"><b> La paella es un plato originario de Valencia (España). Su ingrediente principal es el arroz, habitualmente acompañado por mariscos, pollo, legumbres y otros alimentos. Al recipiente que se emplea para elaborar la paella se lo conoce como paellera o incluso como paella. Se trata de una especie de sartén con asas.</b><br></br></div> </aside>
  <div class="reset"></div>
</div>
<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/comida4.png">
  <aside><h3>MILANESA A CABALLO CON PAPAS FRITAS</a></h3><div id="comida"><b> Un plato tradicional en la gastronomía argentina. Las milanesas a caballo son elaboradas con bifes de ternera, condimentadas con ajo y perejil picados, pasadas por huevo batido y por pan rallado. Las milanesas se fríen y se sirven con dos huevos fritos por encima, por eso el nombre de milanesas a caballo. En esta receta, van acompañadas de unas doraditas y tentadoras papas fritas.</b><br></br></div>
  </aside>
  <div class="reset"></div>
</div>

<!-- ======footer=======  -->
<footer>
	<div class="footer">
		<br>
		<h4>ENCUÉNTRANOS</h4>
		<p><b>Dirección:</b> San Martin 1285. Villa Urquiza / Entre Rios.<b> Teléfono:</b><a href="tel: 0343 012-345 " class="btnllamar" onclick="return (navigator.userAgent.match(/android | iphone | movile/i)) != null;"> 0343 012-345</a></p>
	</div>
</footer>

</body>
</html>
