<!DOCTYPE html>
<html>
<head>
	<title>El Buen Comer - Nosotros</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../estilo/imagenes/logo.png">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../estilo/estilo.css">
	<link href = "https://fonts.googleapis.com/css2? family = Noto + Sans + TC: wght @ 300 & display = swap" rel = "stylesheet">
</head>
<body>
<!-- COMIENSO NAVBAR -->
<nav id="navbar">
	<div class="logo">
		<a href="../../../index.html"><img src="../../estilo/imagenes/logo.png"></a>
	</div>
	<ul class="nav-principal">
		<li><a href="../../../index.html">INICIO</a></li>
		<li><a href="../menu/index.html">MENU</a></li>
		<li><a href="../nosotros/index.html">NOSOTROS</a></li>
		<li><a href="https://www.facebook.com/profile.php?id=100010245192961"><img src="../../estilo/imagenes/face.png"></a></li>
		<li><a href="https://www.instagram.com/el_buen.comer_/"><img src="../../estilo/imagenes/insta.png"></a></li>
		<li><a href="https://twitter.com/elbuencomersf/"><img src="../../estilo/imagenes/twit.png"></a></li>
	</ul>
	<div class="acomodo">
		<div class="linea1"></div>
		<div class="linea2"></div>
		<div class="linea3"></div>
	</div>
</nav>
<script src="../../js/nav.js"></script>
<!-- FIN NAVBAR -->
<!-- TITULO PRINCIPAL -->
<h1>¿Donde estamos?</h1>
<h2>Ubicación</h2>
<br></br>
<p id="direccion"><b>Dirección:</b> San Martin 1285. Villa Urquiza / Entre Rios.</p>
<!-- MAPA  -->
<div align="center"> 
<iframe  id="iframe_google" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13586.189378507524!2d-60.38301170740966!3d-31.646241899999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7855b23c7d94dd2!2sEl%20Buen%20Comer!5e0!3m2!1ses-419!2sar!4v1608072793689!5m2!1ses-419!2sar"></iframe>
</div>
<!-- telefonos y redes sociales  -->
<h2>Teléfonos y Redes Sociales</h2>
<div class="sredes">
	<ul>
		<li><a href="https://www.facebook.com/profile.php?id=100010245192961"><img src="../../estilo/imagenes/facebook.png"></a></li>
		<li><a href="https://www.instagram.com/el_buen.comer_/"><img src="../../estilo/imagenes/instagram.png"></a></li>
		<li><a href="https://twitter.com/elbuencomersf/"><img src="../../estilo/imagenes/twitter.png"></a></li>
	</ul>
</div>
<h2>O llamanos al...</h2>
<div class="cont-tradicionales">
	<p><b>Teléfono:</b><a href="tel: 0343 012-345 " class="btnllamar" onclick="return (navigator.userAgent.match(/android | iphone | movile/i)) != null;"> 0343 012-345</a></p>
	<p><b>Horario de Atencion:</b>De Lunes a Domingos de 12:00 a 00:00 hs.</p>
</div>

<!-- ======footer=======  -->
<footer>
	<div class="footer">
		<br>
		<p>Página Oficial de El Buen Comer. No Se Permite Copyright.</p>
	</div>
</footer>

</body>
</html>